h1,h2,h3,h4,h5,h6{
	font-family: 'Do Hyeon', sans-serif;
}
a,p,span,button,div{
		font-family: 'Source Serif Pro', serif;
	}


.top-icon{
	color: white;
}
.background-black{
	background-color:#5d4037;
}
.theme-color{
	background-color:#3e2723   !important;
}
.nav-color{
	background-color:#d7ccc8 !important;
}
.btn-color{
	background-color: #ffd600;
}
.white
{
	color:#fff;
}
.nav-font{
	color: #5d4037 !important;
	font-weight: bold;
}

.nav-link:hover{
	color:#ffab00  !important;
}
.id:hover{

	color: #ffab00;
	cursor: pointer;
}
body{
/*	margin:0;
	padding: 0;
	*/
}

@media (max-width: 1165px) 
{
    #topbar {
 				display:none;   
 			}
 	.item>img{
	height: 300px;
	width: 100%;
}

}

.sticky-top{
		transition: 0.5s all linear;
}
.sticky-top.active{
	position: fixed;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color:#d7ccc8;

}



/* custom style */
.icon{
	color:#ffc400;

}
.icon-ab{
	color:#ffc400;

}
.lin:hover, .fb:hover
{
	color:#1e88e5;
	transition: 300ms all ease;
	cursor:pointer;
}
.tw:hover{
	color:blue;
	transition: 300ms all ease;
	cursor:pointer;
}
 .you:hover{
	color:red;
	transition: 300ms all ease;
	cursor:pointer;
}
.google:hover{
		color:red;
	transition: 300ms all ease;
	cursor:pointer;
}

.hr{
border: 0;
height: 3px;
background-color: #ffab00;

width: 7%;
color:#ffc400;
left: 50%;
margin-left: auto;
}

.hr2{
border: 0;
height: 3px;
background-color: #ffab00;
margin-left: 2px;
width: 15%;
}

.shadow{
	box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2),0 16px 16px 0 rgba(0,0,0,0.2),0 16px 16px 0 rgba(0,0,0,0.2),0 16px 16px 0 rgba(0,0,0,0.2);
  margin: 15px;
  margin-bottom: 20px;
}
/*slider */

.thumbnail {
    position: relative;
    height: 700px;
}

.caption {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 100%;
    z-index: 1;
    font-size: 3vw;
    color: #5d4037;
    font-weight: bold;

}
.feat {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    z-index: 1;
    font-size: 3vw;
    color: #5d4037;
    font-weight: bold;

}
.owl-next{
	position: absolute;
	top:40%;
	font-size: 20px;
	background-color: red;
	right:0;
	width: 11%;
	height: 111px;
	opacity: 0.5;
	border-radius: 50%;
	

}

.owl-prev{
	position: absolute;
	top:40%;
	background-color: red;
	left:0;
	width: 11%;
	height: 111px;
	opacity: 0.5;
	border-radius: 50%;
}

.icon:hover{
	color: white;
	cursor: pointer;
}

.about:hover{
	cursor: pointer;

}
.about:hover .icon-ab
{
	color: #5d4037;
}
.services-ic{
	color: #ffc400;
}
.services-ic:hover{

	cursor: pointer;
	color: black;

}

.circle{
	/* width: 100px;
    height: 100px;
    border-top-left-radius: 450px;
    border-top-right-radius: 450px;
    border: 10px solid #ffc400;
    border-bottom: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px;*/

/*    margin: 4em auto;
*/    width: 16px;
 height: 16em;
    border-radius: 50%;
    border: 20px solid white;
    border-top-color: darkblue;

    font-size: 40px;
/*    color: #ffc400;
*/}



/*overlay galllery*/

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
vertical-align: center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;

opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.3);
cursor: pointer;
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
cursor: pointer;
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
.over{

	background-color: #ffab00;
	color: black;
	border-radius: 90%;
	padding: 8px;
}

.round{
	width: 100px;
	height: 100px;
	background: #ffab00;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-bottom: 20px;
}
.ul{
	display: inline;
	margin: 0;
	padding:0;
	list-style:none;
	width: 20px;
}
.contact{
	    border: 2px solid white;
	    padding:11px;
	    margin: 10px;
	    color: white;

}

.contact:hover{
	cursor: pointer;

}

.li:hover{
	background-color: #0091ea;
}
.p:hover{
		background-color: #f06292;

}

.twii:hover{
			background-color: #d32f2f;

}

.goog:hover{
			background-color: #ef5350;

}
.fc:hover{
			background-color: #1565c0;

}

/*footer*/
.up
{
	color:#5d4037;
	float: right;
	padding: 20px;
}
.up:hover{
	cursor: pointer;
}

.up:active{
	color: #ffd740;
}


/* supporting class*/
/* margin*/
.mar-10{margin:10px !important;}
.mar-20{margin:20px !important;}
.mar-30{margin:30px !important;}
.mar-40{margin:40px !important;}
.mar-50{margin:50px !important;}
.mar-60{margin:60px !important;}
.mar-70{margin:70px !important;}
.mar-80{margin:80px !important;}
.mar-90{margin:90px !important;}
.mar-100{margin:100px !important;}

/*  margin - top */
.mar-top-10{margin-top: 10px !important;}
.mar-top-20{margin-top: 20px !important;}
.mar-top-30{margin-top: 30px !important;}
.mar-top-40{margin-top: 40px !important;}
.mar-top-50{margin-top: 50px !important;}
.mar-top-60{margin-top: 60px !important;}
.mar-top-70{margin-top: 70px !important;}
.mar-top-80{margin-top: 80px !important;}
.mar-top-90{margin-top: 90px !important;}
.mar-top-100{margin-top: 100px !important;}
.mar-top-200{margin-top: 200px !important;}

/*  margin - bottom */
.mar-bottom-10{margin-bottom: 10px !important;}
.mar-bottom-20{margin-bottom: 20px !important;}
.mar-bottom-30{margin-bottom: 30px !important;}
.mar-bottom-40{margin-bottom: 40px !important;}
.mar-bottom-50{margin-bottom: 50px !important;}
.mar-bottom-60{margin-bottom: 60px !important;}
.mar-bottom-70{margin-bottom: 70px !important;}
.mar-bottom-80{margin-bottom: 80px !important;}
.mar-bottom-90{margin-bottom: 90px !important;}
.mar-bottom-100{margin-bottom: 100px !important;}

/*  margin - left */
.mar-left-10{margin-left: 10px !important;}
.mar-left-20{margin-left: 20px !important;}
.mar-left-30{margin-left: 30px !important;}
.mar-left-40{margin-left: 40px !important;}
.mar-left-50{margin-left: 50px !important;}
.mar-left-60{margin-left: 60px !important;}
.mar-left-70{margin-left: 70px !important;}
.mar-left-80{margin-left: 80px !important;} 
.mar-left-90{margin-left: 90px !important;}
.mar-left-100{margin-left: 100px !important;}
.mar-left-110{margin-left: 100px !important;}
.mar-left-120{margin-left: 100px !important;}
.mar-left-130{margin-left: 100px !important;}

/*  margin - right */
.mar-right-10{margin-right: 10px !important;}
.mar-right-20{margin-right: 20px !important;}
.mar-right-30{margin-right: 30px !important;}
.mar-right-40{margin-right: 40px !important;}
.mar-right-50{margin-right: 50px !important;}
.mar-right-60{margin-right: 60px !important;}
.mar-right-70{margin-right: 70px !important;}
.mar-right-80{margin-right: 80px !important;}
.mar-right-90{margin-right: 90px !important;}
.mar-right-100{margin-right: 100px !important;}

/* margin left right */
.mar-lr-10{margin:0px 10px !important; }
.mar-lr-20{margin:0px 20px !important; }
.mar-lr-30{margin:0px 30px !important; }
.mar-lr-40{margin:0px 40px !important; }
.mar-lr-50{margin:0px 50px !important; }
.mar-lr-60{margin:0px 60px !important; }
.mar-lr-70{margin:0px 70px !important; }
.mar-lr-80{margin:0px 80px !important; }
.mar-lr-90{margin:0px 90px !important; }
.mar-lr-100{margin:0px 100px !important; }

/* margin top bottom */
.mar-tb-10{margin:0px 10px !important; }
.mar-tb-20{margin:0px 20px !important; }
.mar-tb-30{margin:0px 30px !important; }
.mar-tb-40{margin:0px 40px !important; }
.mar-tb-50{margin:0px 50px !important; }
.mar-tb-60{margin:0px 60px !important; }
.mar-tb-70{margin:0px 70px !important; }
.mar-tb-80{margin:0px 80px !important; }
.mar-tb-90{margin:0px 90px !important; }
.mar-tb-100{margin:0px 100px !important; }

/* padding */

.pad-10{padding :10px !important;}
.pad-20{padding :20px !important;}
.pad-30{padding :30px !important;}
.pad-40{padding :40px !important;}
.pad-50{padding :50px !important;}
.pad-60{padding :60px !important;}
.pad-70{padding :70px !important;}
.pad-80{padding :80px !important;}
.pad-90{padding :90px !important;}
.pad-100{padding :100px !important;}

/* padding top*/

.pad-top-10{padding-top: 10px !important;}
.pad-top-20{padding-top: 20px !important;}
.pad-top-30{padding-top: 30px !important;}
.pad-top-40{padding-top: 40px !important;}
.pad-top-50{padding-top: 50px !important;}
.pad-top-60{padding-top: 60px !important;}
.pad-top-70{padding-top: 70px !important;}
.pad-top-80{padding-top: 80px !important;}
.pad-top-90{padding-top: 90px !important;}
.pad-top-100{padding-top: 100px !important;}
.pad-top-400{padding-top: 400px !important;}

/*  padding - bottom */
.pad-bottom-10{padding-bottom: 10px !important;}
.pad-bottom-20{padding-bottom: 20px !important;}
.pad-bottom-30{padding-bottom: 30px !important;}
.pad-bottom-40{padding-bottom: 40px !important;}
.pad-bottom-50{padding-bottom: 50px !important;}
.pad-bottom-60{padding-bottom: 60px !important;}
.pad-bottom-70{padding-bottom: 70px !important;}
.pad-bottom-80{padding-bottom: 80px !important;}
.pad-bottom-90{padding-bottom: 90px !important;}
.pad-bottom-100{padding-bottom: 100px !important;}

/*  margin - left */
.pad-left-10{padding-left: 10px !important;}
.pad-left-20{padding-left: 20px !important;}
.pad-left-30{padding-left: 30px !important;}
.pad-left-40{padding-left: 40px !important;}
.pad-left-50{padding-left: 50px !important;}
.pad-left-60{padding-left: 60px !important;}
.pad-left-70{padding-left: 70px !important;}
.pad-left-80{padding-left: 80px !important;} 
.pad-left-90{padding-left: 90px !important;}
.pad-left-100{padding-left: 100px !important;}
.pad-left-230{padding-left: 230px !important;}

/* padding right*/

.pad-right-10{padding-top-right: 10px !important;}
.pad-right-20{padding-top-right: 20px !important;}
.pad-right-30{padding-top-right: 30px !important;}
.pad-right-40{padding-top-right: 40px !important;}
.pad-right-50{padding-top-right: 50px !important;}
.pad-right-60{padding-top-right: 60px !important;}
.pad-right-70{padding-top-right: 70px !important;}
.pad-right-80{padding-top-right: 80px !important;}
.pad-right-90{padding-top-right: 90px !important;}
.pad-right-100{padding-top-right: 100px !important;}


/* padding left right */
.pad-lr-10{padding :0px 10px !important; }
.pad-lr-20{padding :0px 20px !important; }
.pad-lr-30{padding :0px 30px !important; }
.pad-lr-40{padding :0px 40px !important; }
.pad-lr-50{padding :0px 50px !important; }
.pad-lr-60{padding :0px 60px !important; }
.pad-lr-70{padding :0px 70px !important; }
.pad-lr-80{padding :0px 80px !important; }
.pad-lr-90{padding :0px 90px !important; }
.pad-lr-100{padding :0px 100px !important; }

/* paddding top bottom */
.pad-tb-10{padding :0px 10px !important; }
.pad-tb-20{padding :0px 20px !important; }
.pad-tb-30{padding :0px 30px !important; }
.pad-tb-40{padding :0px 40px !important; }
.pad-tb-50{padding :0px 50px !important; }
.pad-tb-60{padding :0px 60px !important; }
.pad-tb-70{padding :0px 70px !important; }
.pad-tb-80{padding :0px 80px !important; }
.pad-tb-90{padding :0px 90px !important; }
.pad-tb-100{padding :0px 100px !important; }



